@{
  Layout="Shared/_Layout.cshtml";
}

<ul>
  @if (@Model.Count!= 0)
  {
    @foreach (var recipes in Model)
    {
      <li>@recipes.GetName()</li>
    }
  }
  else
  {
    <h3>No recipes to display</h3>
  }
</ul>
